<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.mapper.StudentMapper">
    <select id="selectStudent" parameterType="Student" resultType="Student">
        SELECT * FROM student WHERE sno=#{sno}
    </select>

    <select id="selectAllStudent" resultType="Student">
        SELECT * FROM student
        <where>
            <if test=" sno !=null ">
                sno LIKE concat('%',#{sno},'%')
            </if>
        </where>
    </select>

    <insert id="saveStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student(sno,password,name,create_time)VALUES (#{sno},#{password},#{name},now())
    </insert>

    <update id="updateStudent" parameterType="Student">
        UPDATE student
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="mobile != null">
                mobile=#{mobile},
            </if>
            <if test="wx != null">
                wx=#{wx},
            </if>
            <if test="school != null">
                school=#{school},
            </if>
            <if test="academy != null">
                academy=#{academy},
            </if>
            <if test="grade != null">
                grade=#{grade},
            </if>
            <if test="image != null">
                image=#{image},
            </if>

            <if test="status != null">
                status=#{status}
            </if>

        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteStudent">
        DELETE FROM student WHERE id=#{id}
    </delete>


</mapper>